In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd()
DATA_DIR = os.path.join(cwd, 'data')
CACHE_DIR = os.path.join (cwd, 'cache')
working_file = os.path.join(CACHE_DIR, 'output_1.csv')

In [3]:
df = pd.read_csv(working_file)

In [4]:
df['Rank']=-1

In [5]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,year,filename
0,-1,Bad Boys for Life,"$425,514,702","$204,417,855",48%,"$221,096,847",52%,2020,2020.csv
1,-1,Sonic the Hedgehog,"$306,766,470","$146,066,470",47.6%,"$160,700,000",52.4%,2020,2020.csv
2,-1,Dolittle,"$227,908,130","$77,047,065",33.8%,"$150,861,065",66.2%,2020,2020.csv
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461",41.7%,"$117,700,000",58.3%,2020,2020.csv
4,-1,The Invisible Man,"$124,549,496","$64,914,050",52.1%,"$59,635,446",47.9%,2020,2020.csv

In [6]:
df['Domestic %']=df['%']
df['Foreign %']=df['%.1']
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,year,filename,Domestic %,Foreign %
0,-1,Bad Boys for Life,"$425,514,702","$204,417,855",48%,"$221,096,847",52%,2020,2020.csv,48%,52%
1,-1,Sonic the Hedgehog,"$306,766,470","$146,066,470",47.6%,"$160,700,000",52.4%,2020,2020.csv,47.6%,52.4%
2,-1,Dolittle,"$227,908,130","$77,047,065",33.8%,"$150,861,065",66.2%,2020,2020.csv,33.8%,66.2%
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461",41.7%,"$117,700,000",58.3%,2020,2020.csv,41.7%,58.3%
4,-1,The Invisible Man,"$124,549,496","$64,914,050",52.1%,"$59,635,446",47.9%,2020,2020.csv,52.1%,47.9%

In [7]:
df.drop(['%', '%.1'], axis=1, inplace=True)
df.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,year,filename,Domestic %,Foreign %
0,-1,Bad Boys for Life,"$425,514,702","$204,417,855","$221,096,847",2020,2020.csv,48%,52%
1,-1,Sonic the Hedgehog,"$306,766,470","$146,066,470","$160,700,000",2020,2020.csv,47.6%,52.4%
2,-1,Dolittle,"$227,908,130","$77,047,065","$150,861,065",2020,2020.csv,33.8%,66.2%
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461","$117,700,000",2020,2020.csv,41.7%,58.3%
4,-1,The Invisible Man,"$124,549,496","$64,914,050","$59,635,446",2020,2020.csv,52.1%,47.9%

In [8]:


#df['Worldwide']=df['Worldwide'].replace('$', '').replace(',', '')
col_list=['Worldwide', 'Domestic', 'Foreign']

def col_to_int(str):
    str = str.replace('$', '').replace(',', '')
    try:
        int_str = int(str)
    except:
        int_str = 0
    return int_str

    
    

def clean_column(row):
    for i in col_list:
        row[i] = col_to_int(row[i])
    return row

df2_cleaned = df.apply(clean_column, axis=1)
df2_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,year,filename,Domestic %,Foreign %
0,-1,Bad Boys for Life,425514702,204417855,221096847,2020,2020.csv,48%,52%
1,-1,Sonic the Hedgehog,306766470,146066470,160700000,2020,2020.csv,47.6%,52.4%
2,-1,Dolittle,227908130,77047065,150861065,2020,2020.csv,33.8%,66.2%
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,201858461,84158461,117700000,2020,2020.csv,41.7%,58.3%
4,-1,The Invisible Man,124549496,64914050,59635446,2020,2020.csv,52.1%,47.9%

In [9]:
df2_cleaned.sort_values (by ='Worldwide', ascending=False, inplace=True)
df2_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,year,filename,Domestic %,Foreign %
32,-1,Avengers: Endgame,2797800564,858373000,1939427564,2019,2019.csv,30.7%,69.3%
2021,-1,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015,2015.csv,45.3%,54.7%
717,-1,Avengers: Infinity War,2048359754,678815482,1369544272,2018,2018.csv,33.1%,66.9%
2022,-1,Jurassic World,1670400637,652270625,1018130012,2015,2015.csv,39%,61%
33,-1,The Lion King,1656943394,543638043,1113305351,2019,2019.csv,32.8%,67.2%

In [10]:
df2_cleaned.reset_index(inplace=True, drop=True)
df2_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,year,filename,Domestic %,Foreign %
0,-1,Avengers: Endgame,2797800564,858373000,1939427564,2019,2019.csv,30.7%,69.3%
1,-1,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015,2015.csv,45.3%,54.7%
2,-1,Avengers: Infinity War,2048359754,678815482,1369544272,2018,2018.csv,33.1%,66.9%
3,-1,Jurassic World,1670400637,652270625,1018130012,2015,2015.csv,39%,61%
4,-1,The Lion King,1656943394,543638043,1113305351,2019,2019.csv,32.8%,67.2%

In [12]:
df2_cleaned['Rank']=df2_cleaned.index + 1
df2_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,year,filename,Domestic %,Foreign %
0,1,Avengers: Endgame,2797800564,858373000,1939427564,2019,2019.csv,30.7%,69.3%
1,2,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015,2015.csv,45.3%,54.7%
2,3,Avengers: Infinity War,2048359754,678815482,1369544272,2018,2018.csv,33.1%,66.9%
3,4,Jurassic World,1670400637,652270625,1018130012,2015,2015.csv,39%,61%
4,5,The Lion King,1656943394,543638043,1113305351,2019,2019.csv,32.8%,67.2%

In [18]:
df2_cleaned['Domestic %']= df2_cleaned['Domestic']/df2_cleaned['Worldwide']*100
df2_cleaned['Foreign %']= df2_cleaned['Foreign']/df2_cleaned['Worldwide']*100
df2_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,year,filename,Domestic %,Foreign %
0,1,Avengers: Endgame,2797800564,858373000,1939427564,2019,2019.csv,30.680278,69.319722
1,2,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015,2015.csv,45.288247,54.711753
2,3,Avengers: Infinity War,2048359754,678815482,1369544272,2018,2018.csv,33.139466,66.860534
3,4,Jurassic World,1670400637,652270625,1018130012,2015,2015.csv,39.048753,60.951247
4,5,The Lion King,1656943394,543638043,1113305351,2019,2019.csv,32.809693,67.190307